* {
    padding: 0;
    margin: 0;
}

body {

    font-family: 'YOUNG SERIF', serif;


}

.container {
    padding: 50 px;
margin: 50px;
}
.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-one__contact{
    background-color: orangered;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
display: inline-block;
margin-top: 10px;

}
.section-one__name{
    font-size: 60px;

}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;

}
.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top: 20px;
}
.section-five{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-five__title a{
    color: skyblue;
}
.section-three li,.section-four li{
    list-style: none;
}
.section-three{
    background-color:#6462FD ;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
.section-four{
    background-color: #FE7517;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
    
}
.CONTACT-FORM{
    margin-top: 20px;
}
.CONTACT-FORM__INPUT,.CONTACT-FORM__TEXTAREA,.CONTACT-FORM__SUBMIT{
    margin-top: 10px;
}
.CONTACT-FORM__INPUT{
    padding: 10PX;
    border: none;
    border-bottom: solid black 1px;
}
.CONTACT-FORM__TEXTAREA{
    padding: 10PX;
    border: none;
    border: solid black 1px;
}
.CONTACT-FORM__SUBMIT{
    padding-top: 10PX;
    padding-left: 20PX;
    padding-bottom: 10PX;
    padding-right: 20px;
    border: none;
    background-color: orangered;
    color: black;
}